<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654989599217-4lc38o6pnejiktgiu6m8vf5rnn7ru5o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654989599217-4lc38o6pnejiktgiu6m8vf5rnn7ru5o8</string>
	<key>API_KEY</key>
	<string>AIzaSyDtV5eGIJTcU79wLP0lLdDFRcD-uA4O0wI</string>
	<key>GCM_SENDER_ID</key>
	<string>654989599217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shawn.dressMeUp</string>
	<key>PROJECT_ID</key>
	<string>dressmeup-2db5f</string>
	<key>STORAGE_BUCKET</key>
	<string>dressmeup-2db5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654989599217:ios:62969f32387f87bccb2450</string>
	<key>DATABASE_URL</key>
	<string>https://dressmeup-2db5f.firebaseio.com</string>
</dict>
</plist>